body {
    p, a{
        font-size: $font-default;
    }
    p {
        font-family: $nunito-font;
        
    }
    h1,h2,h3,h4,h5 {
        font-family: $caveat-font ;
    }
    a, .navbar-nav a {
        &:hover {
            color: $orange;
            text-decoration: none;
            transition: all .5s ease-in;
        }
    }
    h1 {
        font-size: 150px;
    }
    h2{
        font-size: 80px;
    }
    h3 {
        font-size: 43px;
    }
}

.btn-haven {
    background-color: $orange;
    border-radius: 9000px;
    font-family: $caveat-font ;
    color: $black;
    font-weight: 400;
    font-size: 40px;
    width: 228px;
    height: 48px;
}

.twin-block {

    height: 583px;
    border-radius: 20px;
}

// Font
.carvet-font {
    font-family: $caveat-font;
}
//Colors

.orange {
    color: $orange;
}
.bg-orange {
    background-color: $orange;
}
.border-b-orange {
    border-bottom: 1px solid $orange;
}
.bg_lighter_grey {
    background-color: $lighter_grey;
}
.bg-blackish {
    background: $bg_blackish;
}
.bg-semi-black {
    background: rgba($black, 0.8);
}
.black {
    color: $black;
}
.grey {
    color: $grey;
}
.p-6, 
.py-6,  
.py-6{
    padding: 75px;
}

.font-x-small {
    font-size: 17px;
}
.font-small {
    font-size: 20px;
}
.font-medium {
    font-size: 27px;
}
.padding-general {
    padding: $padding-general;
}
.l-0{
    left: 0;
}
.z-index-1 {
    z-index: 1;
}
.border-r-20 {
    border-radius: 20px;
}