$nunito-font : 'Nunito', sans-serif;
$rubik-font : 'Rubik', sans-serif;
$caveat-font : 'Caveat Brush', cursive, sans-serif;
// Font sizes
$font-default : 20px;
$font-x-large : 150px;
$font-large : 80px;
$font-small : 17px;
$link-font-size : 22px;