header {
   
    .navbar {
        background-color: $bg_blackish;
        .nav-wrap {
            padding: $padding-general;
        }
        .navbar-nav {
            li {
                margin: 0 1em;
                a{
                    color: $white !important;
                    font-size: $link-font-size;
                }
            }
        }
    }
}